numpy
scipy
matplotlib
torch
gymnasium
scikit-image
modelscope
posix_ipc; platform_system == "Linux"
pywin32<=228; platform_system == "Windows" and python_version <= "3.7"
pywin32>=303; platform_system == "Windows" and python_version > "3.7"
